$navLinkColor: white;
$navLinkBorderRadius: 0.4rem;

@mixin navLink {
  color: $navLinkColor;
  border-radius: $navLinkBorderRadius;
  text-decoration: none;
}

.app-navbar {
  /**
  * DESKTOP NAVIGATION STYLES
  */
  .app-nav-item {
    $navLinkHoverColor: var(--bs-tertiary);

    // Navigation links
    .app-nav-link {
      @include navLink;

      padding: 0.1rem 0.45rem;
      @include navLink;

      &:hover {
        color: var(--bs-secondary);
      }

      &.active {
        $newNavLinkColor: var(--bs-tertiary);

        background-color: $navLinkColor;
        color: $newNavLinkColor;

        *:hover {
          color: $newNavLinkColor;
        }
      }
    }
  }
}

/**
 * MOBILE NAVIGATION OFFCANVAS STYLES
 */
.app-nav-toggle {
  height: 2.2rem;
}

.offcanvas {
  max-width: 15rem !important;

  .close-menu-btn {
    background-color: transparent;
    padding: 0.4rem 0.75rem;

    &:hover {
      background-color: var(--bs-secondary);
    }
  }

  .app-nav-item {
    .app-nav-link {
      padding: 0.3rem 0.75rem;
      width: 100%;
      @include navLink;
      color: var(--bs-primary);

      &:hover {
        color: var(--bs-tertiary);
        background-color: var(--bs-secondary);
      }
      &.active {
        background-color: var(--bs-primary);
        color: $navLinkColor;
      }
    }
  }
}
